<%- include('./partials/header') %>

<div class="container py-5">
  <h2>Thanks</h2>
  <p>Hi, <%= userName %> thanks for leaving your message. We will contact you in a moment.</p>
</div>

<%- include('./partials/footer') %>